@font-face {
  font-family: exo;
  src: url(font/exo2.ttf);
}
.App {
  text-align: center;
  background-color: #E6b777;
  height: 100vh;
  padding-top: -20vh;
}

.App-name{
  align-self: left;
  height: 5vh;
  width: 10vh;
  font-family: exo;
  text-align: left;
  color: #53230A;
  font-size: 5vh;
  padding-right: 9vh;
  padding-bottom: 5vh;
  padding-left: 1.5vh;
  position: absolute;
  border-radius: 0 0 10px 0;
  background-color: #E6b777;
}
.App-display-good
{
  display: 'flex';
  flex-direction: row;
  align-items: left;
  font-size: medium;
  width:100px;
  height: 45px;
  list-style: none;
  color: white;
  background-color: #008200;
  opacity: 50%;
  border-radius: 10%;
}

.App-display-good li{
  text-align: center;
  display:'flex';
  padding-right: 4vh;
}

.App-display-bad{
  display: 'flex';
  flex-direction: row;
  align-items: center;
  width:100px;
  height: 45px;
  font-size: medium;
  list-style: none;
  color: white;
  background-color: red;
  opacity: 50%;
  border-radius: 10%;


}

.App-display-bad li{
  display:'flex';
  text-align: left;
}

.navigation
{
  display: flex;
  justify-content: space-evenly;
  padding-top: 70vh;
}


.App-good{
  display: flex;
  margin: 0;
  padding: 0;

}

.App-bad{
  display: flex;

}

.App-bear-image{
  width: 50vh;
  height: 50vh;
  align-self: center;
}

.App-bear-hover{
    position: absolute;
    margin-top: 20vh;
    align-items: center;
    margin-left: 10%;
  }

.App-bear-hover div{
    position: absolute;
    font-size: large;
    top: 0;
    right: 0;
    background: #53230A;
    color: white;
    margin-bottom: 5px;
    font-family: exo;
    opacity: 0;
    border-radius: 30px 30px 30px 0px;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.App-bear-hover:hover{
  cursor:pointer
}

.App-bear-hover:hover div{
    width: 10vh;
    padding: 5vh 5vh;
    visibility: visible;
    opacity: 0.7; 
}