@font-face {
  font-family: exo;
  src: url(font/exo2.ttf);
}
.App {
  text-align: center;
}

.App-name{
  align-self: left;
  height: 5vh;
  width: 10vh;
  font-family: exo;
  text-align: left;
  color: black;
  font-size: 5vh;
  margin-top: 20vh;
  background-color: white;
  padding-right: 9vh;
  padding-bottom: 2vh;
  padding-left: 1.5vh;
  position: absolute;
  border-radius: 0 0 10px 0
}
.App-body{
    margin-top: -20vh;
    background-color: pink;
}

